html {
    --text-color: #002237;
    --sub-text-color: #657795;
    --act-text-color: #2973FF;
    --bd-color: linear-gradient(90deg, #7650FF 0%, #2973FF 100%);
    --bg-color: rgb(238, 238, 238);
}


.title {
    font-size: 20px;
}


img {
    border-radius: 8px;
}